body {
    padding: 0%;
    margin: 0%;
}

#h1 {
    padding: 0%;
    margin: 0%;
    font-family: 'Alex Brush', cursive;
    font-size: 70px;
}

.landingContainer {
    height: 100vh;
    position: relative;
    background: url('./assets/background.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 2s linear;

}


.landingtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    color: white;
}

/* 
.landingtext::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 127, 128, 0.6);
} */

.landingContainer * {
    z-index: 10;
}

.name {
    font-family: 'Kodchasan', sans-serif;
    font-size: 25px;
    font-weight: 300;
}

.aboutContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 65px 0px;
}

.about {
    width: 60%;
}

.aboutImage {
    width: 25%;
}

.avatar {
    border-radius: 50%;
    width: 100%;
}

.aboutHead,
.servicesHead {
    font-family: 'Kodchasan', sans-serif;
    font-size: 35px;
    color: #0e646d;
    text-align: center;
}

.aboutContent {
    font-family: 'Kodchasan', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: black;
}


.services {
    padding: 65px 0px;
    background: #f1f3f1;
}

.servicesHeaderBlock {
    text-align: center;
}

.servicesBlock {
    display: flex;
    padding: 0px 106px;
}

.blocks {
    text-align: center;
    margin: 0px 20px;
    padding: 50px 0px;
}

.servicesHeadContent {
    font-family: 'Kodchasan', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: black;
}

.blockHeader {
    font-family: 'Kodchasan', sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: black;
}

.blockContent {
    font-family: 'Kodchasan', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: black;
}

.blocks:hover {
    box-shadow: 8px 5px 14px 1px;
    border-radius: 6px;
}







/* Contact form */

.contact{
    padding: 65px 0px;
}

.container{
    /* max-width: 800px; */
    background: #fff;
    /* width: 800px; */
    /* padding: 25px 40px 10px 40px; */
    /* box-shadow: 0px 0px 10px rgba(0,0,0,0.1); */
  }
  .container .text{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .container form{
    padding: 30px 0 0 0;
  }
  .container form .form-row{
    display: flex;
    margin: 32px 0;
  }
  .container form .form-row.submit-btn{
      justify-content: flex-end;
  }

  form .form-row .input-data{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
  }
  form .form-row .textarea{
    height: 70px;
  }
  .input-data input,
  .textarea textarea{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0,0,0, 0.12);
  }
  .input-data input:focus ~ label, .textarea textarea:focus ~ label,
  .input-data input:valid ~ label, .textarea textarea:valid ~ label{
    transform: translateY(-20px);
    font-size: 14px;
    color: #3498db;
  }
  .textarea textarea{
    resize: none;
    padding-top: 10px;
  }
  .input-data label{
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  .textarea label{
    width: 100%;
    bottom: 40px;
    background: #fff;
  }
  .input-data .underline{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
  }
  .input-data .underline:before{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
    outline: none;
  }

  .input-data input, textarea{
      outline: none;
  }
  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before,
  .textarea textarea:focus ~ .underline:before,
  .textarea textarea:valid ~ .underline:before{
    transform: scale(1);
  }
  .submit-btn .input-data{
    overflow: hidden;
    height: 45px!important;
    width: 25%!important;
  }
  .submit-btn .input-data .inner{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, #0e646d, #b8d1d4, #56d8e4, #9f01ea);
    transition: all 0.4s;
  }
  .submit-btn .input-data:hover .inner{
    left: 0;
  }
  .submit-btn .input-data input{
    background: none;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }
  @media (max-width: 700px) {
    .container .text{
      font-size: 30px;
    }
    .container form{
      padding: 10px 0 0 0;
    }
    .container form .form-row{
      display: block;
    }
    form .form-row .input-data{
      margin: 35px 0!important;
    }
    .submit-btn .input-data{
      width: 40%!important;
    }
  }







@media only screen and (max-width:500px) {
    .landingContainer {
        height: 100vh;
        text-align: center;
    }

    #h1 {
        font-size: 40px;
    }

    .name {
        font-size: 15px;
    }

    .aboutContainer {
        flex-direction: column-reverse;
    }

    .servicesBlock {
        padding: 0px 60px;
        flex-direction: column;
    }

    .about {
        width: 80%;
        text-align: center;
    }

    .aboutImage {
        width: 60%;
    }
}



@media (max-width: 700px) {
    .form-row {
        display: block;
    }
}